/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/app/bower_components/
/node_modules/
.idea/misc.xml
.idea/watcherTasks.xml
.idea/dictionaries/gusprie.xml
